[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
pyyaml = '*'

[dev-packages]
pylint = '*'
pytest = '*'
requests-mock = "*"

[requires]
python_version = "3.9"

[scripts]
tests = 'python -m pytest'
get_template_settings = 'python get_template_settings.py'
scenario_from_csv = 'python scenario_from_csv.py'
